   .style-td {
        top: 20px;
        position: relative;
    }

    .table-button {
        width: 60px;
    }

    input[type="checkbox"].toggle-status {
        width: 40px;
        height: 20px;
        position: relative;
        appearance: none;
        background: #ddd;
        outline: none;
        border-radius: 20px;
        transition: 0.3s;
    }

    input[type="checkbox"].toggle-status:checked {
        background: #4caf50;
    }

    input[type="checkbox"].toggle-status::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 1px;
        left: 1px;
        background: #fff;
        transition: 0.3s;
    }

    input[type="checkbox"].toggle-status:checked::before {
        transform: translateX(20px);
    }

    .custom-file-input-wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 0px 0px 0px 8px;
        border-radius: 4px;
        font-size: 14px;
        gap: 10px;
        background-color: #fff;
        width: 100%;
    }

    .custom-file-input-wrapper input[type="file"] {
        display: none;
    }

    .custom-file-input-wrapper button {
        background-color: #f1f1f1;
        border: 0px solid #ccc;
        padding: 4px 10px;
        cursor: pointer;
        font-size: 14px;
        height: 36px;
    }

    .submit-button {
        border: aliceblue;
        border-radius: 5px;
        padding: 8px 15px 8px 15px;
        margin: 5px;
        background: linear-gradient(90deg, #000000 50%, #9C9C9C 100%);
        color: #ffff;
        font-weight: 500;
    }

    #file-name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .details-header {
        margin-bottom: 0px;
        padding: 15px;
        background: #9C9C9C;
        color: #ffffff;
        font-size: 20px;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        padding: 2px;
        border: 1px solid coral;
        margin-top: 15px;
        border-radius: 2px;
    }


    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover 
    {
        color: white !important;
        border: 1px solid rgba(253, 253, 253, 0.3) !important;   
        background: linear-gradient(90deg, rgba(255, 125, 92, 1) 50%, rgba(255, 149, 123, 1) 100%) !important;
    }

    .dataTables_paginate .paging_simple_numbers span a {
        color : white 
    }

    .dataTables_wrapper .dataTables_info {
        margin-top: 20px;
    }

    .dataTables_paginate span {
        color: white;
    }


    .table.dataTable>thead>tr>th
    {
        font-size: 11px;
    }

    .table.dataTable tbody td
    {
        padding: 6px 10px;
        font-size: 12px;
    }